.popup__form {
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 72px);
  margin: 0 auto 0 auto;
  border: none;
  padding: 0;
}

@media screen and (max-width: 644px) {
  .popup__form {
    max-width: calc(100% - 44px);
  }
}
