.profile__add-button {
  margin: 0;
  padding: 0;
  width: 150px;
  height: 50px;
  background-image: url(../../../images/add__button.svg);
  border: 2px solid white;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  transition: .3s;
}

.profile__add-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 644px) {
  .profile__add-button {
    width: 282px;
    margin: 36px auto;
  }
}
