.element__like-button_active {
    background-color: transparent;
    transition: .3s ease;
    outline: none;
    border: none;
    width: 22px;
    height: 19px;
    background-image: url(../../../../images/like_active.svg);
}

.element__like-button_active:hover {
    opacity: .5;
    cursor: pointer;
}